.btn-primary {
    color        : white;
    margin       : 2px;
    width        : 130px;
    border       : solid black 2px;
    border-radius: 5px;
}

a {
    color                 : white;
    /* border-color       : red; */
    /* background-color   : green; */
    border-radius         : 5px;
    margin                : 5px;
    width                 : 150px;

}

.navbar {
    background-color: rgb(98, 100, 98);


}

nav a.active {
    background-color: black;
}

#logoName {
    background-color: green;
    border-radius   : 5px;
    margin          : 5px;
    width           : 150px;
    color           : white;

}